{% extends 'cmmi/base.html' %}
{% block title %}Detalles del proyecto{% endblock %}
{% block proyectos_active %}active{% endblock %}

{% block body %}

<ol class="breadcrumb">
  <li><a href="{% url 'cmmi:index' %}">Proyectos</a></li>
  <li><b>{{proyecto.nombre_proyecto}}</b></li>
</ol>
<div class="row container">
    <ul class="nav nav-pills" style="margin-bottom: 10px;">
        <li role="presentation" class="active"><a href="{% url 'cmmi:detalles' proyecto.id %}">Ver todas las tareas</a>
        <li role="presentation"><a href="{% url 'cmmi:tarea_crear' proyecto.id %}">Añadir nueva tarea</a></li>
    </ul>
</div>

    <div class="container-fluid" style="margin-bottom:10px">
     <h4>{{proyecto.descripcion}}</h4> <br/>
     <small>
        <b>Fecha de inicio </b> {{ proyecto.fecha_inicio}}<br/>
        <b> Dirigido por </b> {{ proyecto.manager }}<br/>
        <b> Nivel de madurez actual</b> {{proyecto.nivelMadurez}}
    </small>
    </div>


<div class="container-fluid tareas-container">
    <div class="row">
        <!-- Info tarea dcha -->
        <div class="col-dm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Tareas</b>
                </div>

                <div class="panel-body">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Categoría</th>
                                <th>Completada</th>
                                <th>Urgente</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    <tbody>
                    {% for tarea in proyecto.tarea_set.all %}
                        <tr>
                            <td>{{ tarea.nombre_tarea }}</td>
                            <td>{{ tarea.descripcion }}</td>
                            <td>{{ tarea.categoriaAP }}</td>
                            <td>
                                <a href="{% url 'cmmi:completada' tarea.id %}" class="btn-completada">
                                    <span  class="glyphicon glyphicon-ok" {% if tarea.completada %}style= "color: #06e87f; font-size: 16px;" {% else %} style= "color: #cccccc; font-size: 16px;" {% endif %}></span></a>
                            </td>

                            <td>
                                <a href="{% url 'cmmi:urgente' tarea.id %}" class="btn-urgente"><span class="glyphicon glyphicon-exclamation-sign {% if tarea.es_urgente %}active{% endif %}"></span></a>
                            </td>
                            <td>
                                <form action="{% url 'cmmi:tarea_eliminar' proyecto.id tarea.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="tarea_id" value="{{ tarea.id }}" />
                                    <button type="submit" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove"></span>&nbsp; Eliminar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
