body{
    background-color:  azure;
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Roboto', cursive;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}
