body{
    background-color: #ededed;
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Roboto', cursive;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.glyphicon-exclamation-sign {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-exclamation-sign.active {
    color: #000000;
}
